pip
git+git://github.com/Rapptz/discord.py.git#egg=discord.py[voice]
youtube_dl
imgurpython
dj-database-url==0.4.1
Django==1.11
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==2.0.6
dota2py
pillow
emoji --upgrade
tabulate
psutil